/*===== GOOGLE FONTS =====*/
/* @import url('https://fonts.googleapis.com/css2?family=Play:wght@400;500;600&display=swap'); */

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  
  /*========== Colors ==========*/
  --title-color: #0B0A0A;
  --text-color: #403A3A;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF;
  --body-color: #FCFCFC;
  --text-section-color: #403A3A;
  --bg-section-color: #d8d8d8;

  /*========== Font and typography ==========*/
  ---font-play: 'Play', sans-serif;
  ---font-alumni: 'Alumni Sans', sans-serif;
  ---font-exo: 'Exo 2', sans-serif;
  ---font-roboto: 'Roboto Condensed', sans-serif;

  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE ==========*/
/* Псевдоэементы до и после */
*, ::before, ::after{
  box-sizing: border-box;
}

html{
  /* Плавная автопрокрутка */
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: #F2F2F2;
  --text-color: #BFBFBF;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2B2B2B;

}

/*========== Button Dark/Light ==========*/
.change-theme{
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: flex;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.change-theme:hover{
  color: var(--title-color);
}


/*========== Font size variables to scale cv ==========*/
body.scale-cv{
  --h1-font-size: .938rem;
  --h2-font-size: .938rem;
  --h3-font-size: .875rem;
  --normal-font-size: .813rem;
  --small-font-size: .75rem;
  --smaller-font-size: .688rem;
}

.scale-cv .bd-container{
  max-width: 595px;
}

.scale-cv .section{
  padding: .1rem 0 .1rem;
}

.scale-cv .section-title{
  margin-bottom: .05rem;
  font-family: var(---font-exo);

  
}

.scale-cv .resume__left,
.scale-cv .resume__right{
  padding: 0 1rem;
}

.scale-cv .home__img{
  width: 90px;
  height: 90px;

}

.scale-cv .home__container{
  gap: 1.5rem;
}

.scale-cv .home__data{
  gap: .25rem;
}

.scale-cv .home__address,
.scale-cv .social__container{
  gap: .75rem;
}

.scale-cv .home__icon,
.scale-cv .social__icon,
.scale-cv .interests__icon{
  font-size: 1rem;
}

.scale-cv .education__container,
.scale-cv .experience__container,
.scale-cv .certificate__container{
  gap: 0.05rem;
  margin-bottom: 0.05rem;
}


.scale-cv .education__time,
.scale-cv .experience__time{
  padding-right: .5rem;
}

.scale-cv .education__rounder,
.scale-cv .experience__rounder{
  width: 11px;
  height: 11px;
  margin-top: .22rem;
}

.scale-cv .education__line,
.scale-cv .experience__line{
  width: 1px;
  height: 110%;
  transform: translate(5px, 0);
}

.scale-cv .education__data,
.scale-cv .experience__data{
  gap: .25rem;
}

.scale-cv .skills__name{
  margin-bottom: var(--mb-1);
}

.scale-cv .interests__container{
  column-gap: 2.5rem;
}

.scale-cv .task__descript{
  display: none;
}
.scale-cv .pdf__link{
  display: none;
}
.scale-cv .project__description__label{
  display: none;
}
.scale-cv .skills__data{
  font-size: xx-small;
  margin: .05rem;
  box-shadow: none;
  padding: .05rem;
  border-radius: 0;

}

/*========== Generate PDF button ==========*/
.generate-pdf{
  display: none;
  position: absolute;
  top: 2.2rem;
  left: 0;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
}

.generate-pdf:hover{
  color: var(--title-color);
}

/*========== Classes modified to reduce size and print on A4 sheet ==========*/
.scale-cv .change-theme,
.scale-cv .generate-pdf{
  display: none;
}

body{
  margin: 0 0 --header-height 0;
  padding: 0;
  font-family: var(---font-roboto);

  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, ul, p{
  margin: 0;
}

h1, h2, h3{
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-family: var(---font-exo);
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section{
  padding-bottom: 1rem;
}

.section-title{
  padding-left: .5rem;
  font-size: var(--h2-font-size);
  color: var(--text-section-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  /* letter-spacing: .35rem; */
  text-align: center;
  margin-bottom: var(--mb-2);
  background-color: var(--bg-section-color);
}
/*========== LAYOUT ==========*/
.bd-container{
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgba(0,0,0,.1);
  transition: .3s;
}

/*========== NAV ==========*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .nav__menu{
    position: fixed;
    bottom: -100%;/*var(--header-height);*/
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: 1s;
  }
}

.nav__logo,
.nav__toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__toggle{
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__item{
  text-align: center;
}

.nav__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link{
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-medium);
}

.nav__link:hover{
  color: var(--title-color);
}

.nav__icon{
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}

/* Show menu */
.show-menu{
  bottom: var(--header-height);
}

/* Active menu link */
.active-link{
  color: var(--title-color);
}

/*========== HOME ==========*/
.home{
  position: relative;
}

.home__container{
  gap: 3rem;
}

.certificate__container{
  
  margin-bottom: 1rem;

}

.home__data{
  gap: .1rem;
  text-align: center;
}

.home__img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
  margin-top: 1rem;
}

.home__title{
  font-size: 1.5rem;
  font-family: var(---font-exo);
  font-weight: 700;
}

.home__profession{
  font-size: var(--normal-font-size);
  font-family: var(---font-exo);
  margin-bottom: var(--mb-1);
}

.home__address{
  gap: 1rem;
}

.about__content
{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

}
.title__about
{
  font-size: 0.8rem;
  font-family: var(---font-roboto);
}
.data__about
{
font-size: 1rem;
font-weight: 700;
}

.about__line{
  
  height: 1px;
  background-color: var(--text-color-light);
  margin-right: 10%;
  margin-left: 10%;
  margin-top: .5rem;
  margin-bottom: .5rem;
  
  
}

.task__descript{
  display:inline-flex;
  align-items: center;
  
}

.check__icon{
  font-weight: 700;
  font-size: 1rem;
  padding-right: .5rem;
  
}

.project__name{
  text-align: center;

}

.home__information{
  display: flex;
  
  font-size: var(--small-font-size);
  justify-content:left;
}

.about__info{
  display: flex;
  flex-direction: column;
}

.keyskills__container{
  display: flex;
  flex-wrap: wrap;
  
}
.skills__data{
  margin: .2rem;
  border: 1px solid #707070;
  font-size: small;
  padding: .2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);
  

}
.space-around{
justify-content:space-around;
}

.project__photo{
  display:flex;
  background-color:#FCFCFC ; 
  

  border: 1px solid #BFBFBF;
  border-radius: 10px;
  padding: .3rem;
  width: 11rem;
  height: 11rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);
  align-items: center;
  transition: transform  0.2s linear;
}
.project__photo img {
  height: 100%;
  width: 100%;
  object-fit: contain;

}

.project__photo:hover {
  transform: scale(2.5); /* (150% зум - Примечание: если масштаб слишком велик, он будет выходить за пределы видового экрана) */
}

.pdf__link{
  text-align: right;
  margin-top: -1rem;
}

a.pdf__link:link {
  color:#707070; 
  
}
a.pdf__link:visited {
  color:#BFBFBF;
}
/* a:hover {
  color: #154088; 
  border-bottom: .07em solid;
}
a:active {
  color: #497DDD; 
  border-bottom: 1px dashed;
} */





.home__icon{
  font-size: 1.2rem;
  margin-right: .25rem;
}

.pdf__icon{
  font-size: 2rem;
  vertical-align: middle;
}


.home__button-movil{
  display: inline-block;
  border: 2px solid var(--text-color);
  color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: .25rem;
  transition: .3s;
  font-weight: var(--font-medium);
  margin-top: var(--mb-3);
}

.home__button-movil:hover{
  background-color: var(--text-color);
  color: var(--container-color);
}
/*========== SOCIAL ==========*/
.social__container{
  grid-template-columns: max-content;
  gap: 1rem;
}

.social__link{
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.social__link:hover{
  color: var(--title-color);
}

.social__icon{
  font-size: 1.2rem;
  margin-right: .25rem;
}

/*========== PROFILE ==========*/
.profile__description{
  text-align: center;
}

/*========== EDUCATION AND EXPERIENCE ==========*/
.education__content,
.experience__content

{
  display: flex;
}
.education__time,
.experience__time{
  padding-right: 1rem;
}

.education__rounder,
.experience__rounder{
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: .1rem;
}

.education__line,
.experience__line{
  display: block;
  width: 2px;
  height: 108%;
  background-color: var(--text-color-light);
  transform: translate(7px, 0);
}


.education__data,
.experience__data{
  gap: .5rem;
}
.experience__data{
  text-align: justify;
}

.experience__data{
  width: 100%;
}
.experience__description{
  text-align: justify; 
}
.project__description{
gap:.5rem;
}

.certificate__container:nth-last-child(n+2) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #707070;
}


.project__description__label{

font-weight: 700;
    font-size: var(--small-font-size);
    color: #707070;

}

.education__title,
.project__name,
.experience__title{
  font-size: var(--h3-font-size);
  font-weight: 700;
}

.experience__title{
  font-family: var(---font-exo);
}


.education__studies{
  font-size: var(--small-font-size);
  color: var(--title-color);
}
.experience__company{
  font-weight: 700;
  font-size: var(--small-font-size);
  color:#707070;
  border-bottom: 1px solid #707070;
}


.education__year{
  font-size: var(--small-font-size);
}

/*========== SKILLS AND LANGUAGES ==========*/
.skills__content,
.languages__content{
  grid-template-columns: repeat(2,1fr);
}

.languages__content{
  gap: 0;
}

.skills__name,
.languages__name{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}

.skills__circle,
.languages__circle{
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: .75rem;
}

/*========== CERTIFICATES ==========*/
.certificate__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

/*========== REFERENCES ==========*/
.references__content{
  gap: .25rem;
}

.references__subtitle{
  color: var(--text-color-light);
}

.references__subtitle,
.references__contact{
  font-size: var(--smaller-font-size);
}

.references__title{
  font-size: var(--h3-font-size);
}

/*========== INTERESTS ==========*/
.interests__container{
  grid-template-columns: repeat(3,1fr);
  margin-top: var(--mb-2);
}

.interests__content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interests__icon{
  font-size: 1.5rem;
  color: var(--text-color-light);
  margin-bottom: .25rem;
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background-color: var(--container-color-alt);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop__icon{
  font-size: 1.2rem;
  color: var(--text-color);
}

.show-scroll{
  visibility: visible;
  bottom: 5rem;

}


/*========== MEDIA QUERIES ==========*/
/* For small devices, menu two columns */
@media screen and (max-width: 320px) {
  .nav__list{
    grid-template-columns: repeat(2,1fr);
    gap: 1rem .5rem;
  }
  
}

/* Classes modified for large screen size */
@media screen and (min-width: 968px) {
  body{
    margin: 3rem 0;
  }
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .l-header,
  .scrolltop{
    display: none;
  }

  .resume{
    display: grid;
    grid-template-columns: .5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13,12,12,.15);
  }

  .resume__left{
    background-color: var(--container-color-alt);
  }

  .resume__left,
  .resume__right{
    padding: 0 1.5rem;
  }

  .generate-pdf{
    display: inline-block;
  }

  .section-title,
  .profile__description{
    text-align: initial;
  }

  .home__container{
    gap: 1.5rem;
  }

  .home__button-movil{
    display: none;
  }

  .references__container{
    grid-template-columns: repeat(2,1fr);
  }

  .languages__content{
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }

  .interests__container{
    justify-content: center;
    grid-template-columns: repeat(5, max-content);
    column-gap: 4rem;
    justify-items: center;
    
  }




}


